[submodule "external/clip"]
	path = external/clip
	url = https://github.com/dacap/clip
[submodule "external/microtex/MicroTeX"]
	path = external/microtex/microtex
	url = https://github.com/NanoMichael/MicroTeX.git
[submodule "external/IconFontCppHeaders"]
	path = external/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "external/rapidfuzz-cpp"]
	path = external/rapidfuzz-cpp
	url = https://github.com/maxbachmann/rapidfuzz-cpp.git
[submodule "external/ImGuiColorTextEdit"]
	path = external/ImGuiColorTextEdit
	url = git@github.com:BalazsJako/ImGuiColorTextEdit.git
[submodule "external/root-project/llvm-project"]
	path = external/root-project/llvm-project
	url = https://github.com/root-project/llvm-project.git
[submodule "external/root-project/cling"]
	path = external/root-project/cling
	url = https://github.com/root-project/cling.git
[submodule "external/imgui/imgui"]
	path = external/imgui/imgui
	url = https://github.com/gnrv/imgui-a500-style.git
